* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 4325px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 100%;
  height: 982px;
  background: rgba(238,241,239,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 600px;
  height: 294px;
  background: url("../images/v1_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 344px;
  left: 456px;
  overflow: hidden;
}
.v1_5 {
  width: 144px;
  height: 144px;
  background: url("../images/v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 228px;
  border-top-left-radius: 144px;
  border-top-right-radius: 144px;
  border-bottom-left-radius: 144px;
  border-bottom-right-radius: 144px;
  overflow: hidden;
}
.v1_6 {
  width: 419px;
  color: rgba(58,68,67,1);
  position: absolute;
  top: 166px;
  left: 90px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1_7 {
  width: 541px;
  color: rgba(66,79,64,1);
  position: absolute;
  top: 228px;
  left: 29px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1_8 {
  width: 64px;
  height: 64px;
  background: url("../images/v1_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 878px;
  left: 724px;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
  overflow: hidden;
}
.v1_9 {
  width: 30px;
  height: 30px;
  background: url("../images/v1_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 17px;
  overflow: hidden;
}
.v1_10 {
  width: 30px;
  height: 30px;
  background: url("../images/v1_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_11 {
  width: 12px;
  height: 30px;
  background: url("../images/v1_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v1_12 {
  width: 12px;
  height: 30px;
  background: rgba(58,68,67,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1_13 {
  width: 100%;
  height: 340px;
  background: rgba(255,187,110,1);
  opacity: 1;
  position: absolute;
  top: 982px;
  left: 0px;
  overflow: hidden;
}
.v1_14 {
  width: 100%;
  height: 190px;
  background: url("../images/v1_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 120px;
  overflow: hidden;
}
.v1_15 {
  width: 294px;
  color: rgba(28,33,28,1);
  position: absolute;
  top: 9px;
  left: 487px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 62px;
  opacity: 1;
  text-align: center;
}
.v1_16 {
  width: 100%;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 90px;
  left: 134px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1_17 {
  width: 44px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 149px;
  left: 612px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_18 {
  width: 100%;
  height: 820px;
  background: rgba(58,68,67,1);
  opacity: 1;
  position: absolute;
  top: 1322px;
  left: 0px;
  overflow: hidden;
}
.v1_19 {
  width: 686px;
  color: rgba(238,241,239,1);
  position: absolute;
  top: 111px;
  left: 136px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 62px;
  opacity: 1;
  text-align: left;
}
.v1_20 {
  width: 100%;
  height: 502px;
  background: url("../images/v1_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 133px;
  overflow: hidden;
}
.v1_21 {
  width: 599px;
  height: 470px;
  background: url("../images/v1_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  overflow: hidden;
}
.v1_22 {
  width: 705px;
  height: 470px;
  background: url("../images/v1_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 61px;
  overflow: hidden;
}
.v1_23 {
  width: 54px;
  color: rgba(51,51,51,0.6166700124740601);
  position: absolute;
  top: 440px;
  left: 11px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v1_24 {
  width: 599px;
  height: 470px;
  background: url("../images/v1_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 615px;
  overflow: hidden;
}
.v1_25 {
  width: 705px;
  height: 470px;
  background: url("../images/v1_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 45px;
  overflow: hidden;
}
.v1_26 {
  width: 208px;
  color: rgba(51,51,51,0.6166700124740601);
  position: absolute;
  top: 440px;
  left: 12px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v1_27 {
  width: 100%;
  height: 1673px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2143px;
  left: 0px;
  overflow: hidden;
}
.v1_28 {
  width: 100%;
  height: 1473px;
  background: url("../images/v1_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 120px;
  overflow: hidden;
}
.v1_29 {
  width: 100%;
  height: 462px;
  background: url("../images/v1_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v1_30 {
  width: 441px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 9px;
  left: 0px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 62px;
  opacity: 1;
  text-align: left;
}
.v1_31 {
  width: 782px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 94px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_32 {
  width: 100%;
  color: url("../images/v1_32.png");
  position: absolute;
  top: 140px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_33 {
  width: 100%;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 222px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_34 {
  width: 100%;
  color: url("../images/v1_34.png");
  position: absolute;
  top: 304px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_35 {
  width: 100%;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 386px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_36 {
  width: 611px;
  height: 479px;
  background: url("../images/v1_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 478px;
  left: 16px;
  overflow: hidden;
}
.v1_37 {
  width: 611px;
  height: 458px;
  background: url("../images/v1_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_38 {
  width: 448px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 459px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_39 {
  width: 611px;
  height: 479px;
  background: url("../images/v1_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 479px;
  left: 643px;
  overflow: hidden;
}
.v1_40 {
  width: 611px;
  height: 458px;
  background: url("../images/v1_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_41 {
  width: 517px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 459px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_42 {
  width: 611px;
  height: 500px;
  background: url("../images/v1_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 973px;
  left: 16px;
  overflow: hidden;
}
.v1_43 {
  width: 611px;
  height: 458px;
  background: url("../images/v1_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_44 {
  width: 535px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 459px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_45 {
  width: 611px;
  height: 500px;
  background: url("../images/v1_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 974px;
  left: 643px;
  overflow: hidden;
}
.v1_46 {
  width: 611px;
  height: 458px;
  background: url("../images/v1_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_47 {
  width: 601px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 459px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_48 {
  width: 100%;
  height: 370px;
  background: rgba(238,241,239,1);
  opacity: 1;
  position: absolute;
  top: 3816px;
  left: 0px;
  overflow: hidden;
}
.v1_49 {
  width: 100%;
  height: 220px;
  background: url("../images/v1_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 121px;
  overflow: hidden;
}
.v1_50 {
  width: 550px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 11px;
  left: 360px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 62px;
  opacity: 1;
  text-align: center;
}
.v1_51 {
  width: 662px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 120px;
  left: 304px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1_52 {
  width: 100%;
  height: 54px;
  background: url("../images/v1_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 16px;
  overflow: hidden;
}
.v1_53 {
  width: 91px;
  color: rgba(28,33,28,1);
  position: absolute;
  top: 13px;
  left: 436px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_54 {
  width: 60px;
  color: rgba(28,33,28,1);
  position: absolute;
  top: 13px;
  left: 576px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_55 {
  width: 119px;
  color: rgba(28,33,28,1);
  position: absolute;
  top: 13px;
  left: 683px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_56 {
  width: 100%;
  height: 138px;
  background: rgba(58,68,67,1);
  opacity: 1;
  position: absolute;
  top: 4187px;
  left: 0px;
  overflow: hidden;
}
.v1_57 {
  width: 100%;
  height: 69px;
  background: url("../images/v1_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 137px;
  overflow: hidden;
}
.v1_58 {
  width: 107px;
  color: rgba(238,241,239,1);
  position: absolute;
  top: 2px;
  left: 566px;
  font-family: Manrope;
  font-weight: ExtraLight;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1_59 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 559px;
  font-family: Manrope;
  font-weight: Light;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_60 {
  width: 100%;
  height: 84px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v1_61 {
  width: 100%;
  height: 84px;
  background: rgba(58,68,67,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_62 {
  width: 100%;
  height: 84px;
  background: url("../images/v1_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_63 {
  width: 100%;
  height: 64px;
  background: url("../images/v1_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 120px;
  overflow: hidden;
}
.v1_64 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Manrope;
  font-weight: ExtraLight;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_65 {
  width: 238px;
  height: 64px;
  background: url("../images/v1_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 238px;
  overflow: hidden;
}
.v1_66 {
  width: 61px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 21px;
  left: 12px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_67 {
  width: 45px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 21px;
  left: 98px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_68 {
  width: 60px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 21px;
  left: 167px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
