.body {
  font-family: Helvetica;
  height: 100%;
  box-align: center;
}

.navigation-container {
  position: relative;
  background-color: #3a4443;
}

.navigation-left {
  font-size: 40px;
  text-align: left;
}

.navigation-right {
  font-size: 40px;
  text-align: right;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}
